<header class="bar bar-standard bar-header">
  <a class="icon icon-bars pull-left" id="toggle-left"></a>
  <a class="icon icon-more-vertical pull-right"></a>
  <h1 class="title">物理系自强书社</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item" href="/books">
    <span class="icon icon-home"></span>
    <span class="tab-label">书籍</span>
  </a>
  <a class="tab-item" href="/activities" data-transition="slide-in">
    <span class="icon icon-person"></span>
    <span class="tab-label">活动</span>
  </a>
  <a class="tab-item" href="#" data-transition="slide-in">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">捐赠</span>
  </a>
</nav>

<div class="content">
  <div class="content-padded">
    <h3><%= @json_info['title']%></h3>
    <h4><%= @json_info['author'][0]%></h4>
    <img src="<%= @json_info['image']%>" alt="">
  </div>
  <form class="input-form" method="post" action="/donors">
    <input type="text" placeholder="您的姓名" name="donor[name]">
    <input type="text" placeholder="您的邮箱" name="donor[email]">
    <input type="text" placeholder="您的电话" name="donor[phone]">
    <textarea placeholder="捐赠寄语" name="donor[wordsto]" row="5"></textarea>
    <button class="btn btn-positive btn-block">确认捐赠</button>
  </form>
</div>