<%#= render 'form' %>
<header class="bar bar-standard bar-header">
  <a class="icon icon-left-nav pull-left" href="/" data-transition="slide-out"></a>
  <h1 class="title">物理系自强书社</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item" href="javascript:void(0);">
    <span class="icon icon-home"></span>
    <span class="tab-label">书籍</span>
  </a>
  <a class="tab-item" href="/activities" data-transition="slide-in">
    <span class="icon icon-person"></span>
    <span class="tab-label">活动</span>
  </a>
  <a class="tab-item active" href="#" data-transition="slide-in">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">捐赠</span>
  </a>
</nav>

<div class="content">
  <form class="input-form" method="post" action="/donors/search">
    <input type="text" placeholder="输入书名搜索" name="q">
    <button class="btn btn-positive btn-block">搜 索</button>
  </form>
  <div class="content-padded">  
    <p>您可以在此搜索想要捐赠的书籍，线上购买后邮寄给我们。</p>
    <p>或者可以直接联系我们工作人员，线下捐赠。</p>
    <p>联系方式：</p>
    <p>感谢您的慷慨捐赠！</p>
  </div>
</div>
