<header class="bar bar-standard bar-header">
  <a class="icon icon-left-nav pull-left" href="/books"></a>
  <h1 class="title">物理系自强书社</h1>
</header>
<nav class="bar bar-tab">
  <a class="tab-item" href="/books">
    <span class="icon icon-home"></span>
    <span class="tab-label">书籍</span>
  </a>
  <a class="tab-item" href="/activities">
    <span class="icon icon-person"></span>
    <span class="tab-label">活动</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">捐赠</span>
  </a>
</nav>
<div class="content">
  <div class="content-padded">
    <h3><%= @book.name %></h3>
    <hr>
    <p><%= @book.summary %></p>
  </div>
</div>
