<header class="bar bar-standard bar-header">
  <a class="icon icon-bars pull-left" id="toggle-left"></a>
  <a class="icon icon-more-vertical pull-right"></a>
  <h1 class="title">物理系自强书社</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item" href="/books" data-transition="slide-out">
    <span class="icon icon-home"></span>
    <span class="tab-label">书籍</span>
  </a>
  <a class="tab-item active" href="javascript:void(0);">
    <span class="icon icon-person"></span>
    <span class="tab-label">活动</span>
  </a>
  <a class="tab-item" href="#" data-transition="slide-in">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">捐赠</span>
  </a>
</nav>

<div class="content">
  <% @activities.each do |activity| %>
  <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right" href="/activities/<%= activity._id %>">
        <img class="media-object activity-image" src="<%= activity.post_image %>">
        <div class="media-body">
          <%= activity.topic %>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p> -->
        </div>
      </a>
    </li>
  </ul>
  <% end %>
</div>